<div class="sc-properties plisting py-6">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 col-xxl-3">
          <aside class="filterbox" id="filterbox">
            <button class="filterbox-switch btn d-lg-none" id="fiterboxSwitch">
              <i class="pgi-angle-narrow-right arrow-icn d-inline-block"></i>
              <span>Filters</span>
            </button>
            <div class="filterbox-innerwrap">
              <div class="filterbox-applied">
                <div class="filterbox-sc__hd">
                  <h6 class="filterbox-sc__ttl mb-0">Applied Filters</h6>
                  <button class="filter-clear clearall btn p-0 text-primary ms-1" (click)="clearAllFilters()">
                    Clear All
                  </button>
                </div>
                <div class="filterbox-sc__body">
                  <ul class="applied-filters list-unstyled mb-0">
                    <li *ngFor="let filter of selectedFilters">
                      <span>{{filter.displayName}}</span
                      ><button class="btn p-0 filter-close">
                        <i class="pgi-close" (click)="clearFilter(filter.uid,filter.controlContextName)"></i>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="filterbox-options">
                <div class="filterbox-sc">
                  <div class="filterbox-sc__hd">
                    <h6 class="filterbox-sc__ttl mb-0">Type of Furnishing</h6>
                    <div>
                      <!-- <button class="filter-clear clearall btn p-0 text-primary ms-1" (click)="clearFurnishTypes()">
                        Clear
                      </button> -->
                      <a class="collapse-btn btn p-0 ms-1"
                        data-bs-toggle="collapse"
                        href="#filterByFeatures"
                        role="button"
                        aria-expanded="false"
                        aria-controls="filterByFeatures">
                        <i class="pgi-angle-narrow-up"></i>
                      </a>
                    </div>
                  </div>
                  <div id="filterByFeatures" class="collapse">
                    <div class="filterbox-sc__body">
                      <ul class="filter-chklist list-unstyled mb-0">
                        <li *ngFor="let furnishtype of this.furnishTypes">
                          <input
                            class="chk-input"
                            type="radio"
                            name="propertyfeatures"
                            [value]="furnishtype.uid"
                            [checked]="furnishtype.isEnabled" (change)="onFurnishTypeSelectionChanged($event)"
                            id="{{'pptchk'+furnishtype.uid.toString()}}"
                          />
                          <label class="chk-label" for="{{'pptchk'+furnishtype.uid.toString()}}">
                            <i class="chk-icn pgi-check-circle"></i>
                            {{furnishtype.displayName}}
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="filterbox-sc">
                  <div class="filterbox-sc__hd">
                    <h6 class="filterbox-sc__ttl mb-0">
                      Type of Accommodation
                    </h6>
                    <div>
                      <!-- <button class="filter-clear clearall btn p-0 text-primary ms-1" (click)="clearPropertyTypes()">
                        Clear
                      </button> -->
                      <a class="collapse-btn btn p-0 ms-1"
                        data-bs-toggle="collapse"
                        href="#filterByType"
                        role="button"
                        aria-expanded="true"
                        aria-controls="filterByType" >
                        <i class="pgi-angle-narrow-up"></i>
                      </a>
                    </div>
                  </div>
                  <div id="filterByType" class="collapse show">
                    <div class="filterbox-sc__body">
                      <ul class="filter-chklist list-unstyled mb-0">
                        <li *ngFor="let propertyType of this.propertyTypes">
                          <input
                            class="chk-input"
                            type="radio"
                            name="propertytype"
                            [value]="propertyType.uid"
                            [checked]="propertyType.isEnabled"  id="{{'pphtchk'+propertyType.uid.toString()}}"
                            (change)="onPropertyTypeSelectionChanged($event)"
                          />
                          <label class="chk-label" for="{{'pphtchk'+propertyType.uid.toString()}}">
                            <i class="chk-icn pgi-check-circle"></i>
                            {{propertyType.displayName}}
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="filterbox-sc">
                  <div class="filterbox-sc__hd">
                    <h6 class="filterbox-sc__ttl mb-0">Price Range</h6>
                    <div>
                      <!-- <button
                        class="filter-clear clearall btn p-0 text-primary ms-1"
                      >
                        Clear
                      </button> -->
                      <a
                        class="collapse-btn btn p-0 ms-1"
                        data-bs-toggle="collapse"
                        href="#filterByBudget"
                        role="button"
                        aria-expanded="true"
                        aria-controls="filterByBudget"
                      >
                        <i class="pgi-angle-narrow-up"></i>
                      </a>
                    </div>
                  </div>
                  <div id="filterByBudget" class="collapse show">
                    <div class="filterbox-sc__body">
                      <input
                        type="text"
                        id="priceRangeSlider"
                        class="range-slider"
                        name="price_range"
                        value=""
                      />
                      <div
                        class="range-slider-values mt-2 text-center"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="filterbox-sc">
                  <div class="filterbox-sc__hd">
                    <h6 class="filterbox-sc__ttl mb-0">No. of Bedrooms</h6>
                    <div>
                      <!-- <button class="filter-clear clearall btn p-0 text-primary ms-1" (click)="clearBedRooms()">
                        Clear
                      </button> -->
                      <a
                        class="collapse-btn btn p-0 ms-1"
                        data-bs-toggle="collapse"
                        href="#filterByNoOFBedrooms"
                        role="button"
                        aria-expanded="false"
                        aria-controls="filterByNoOFBedrooms"
                      >
                        <i class="pgi-angle-narrow-up"></i>
                      </a>
                    </div>
                  </div>
                  <div id="filterByNoOFBedrooms" class="collapse">
                    <div class="filterbox-sc__body">
                      <ul class="filter-chklist list-unstyled mb-0">
                        <li *ngFor="let bedroom of this.bedRooms">
                          <input
                            class="chk-input"
                            type="radio"
                            name="noofbedrooms"
                            id="{{'pptchk-bed'+bedroom.uid.toString()}}" 
                            [value]="bedroom.uid" [checked]="bedroom.isEnabled"
                            (change)="onBedRoomCountSelectionChanged($event)"
                          />
                          <label class="chk-label" for="{{'pptchk-bed'+bedroom.uid.toString()}}">
                            <i class="chk-icn pgi-check-circle"></i>
                            {{bedroom.displayName}} BHK
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="filterbox-sc">
                  <div class="filterbox-sc__hd">
                    <h6 class="filterbox-sc__ttl mb-0">No. of Bathrooms</h6>
                    <div>
                      <!-- <button class="filter-clear clearall btn p-0 text-primary ms-1" (click)="clearBathRooms()">
                        Clear
                      </button> -->
                      <a
                        class="collapse-btn btn p-0 ms-1"
                        data-bs-toggle="collapse"
                        href="#filterByNoOfBathrooms"
                        role="button"
                        aria-expanded="false"
                        aria-controls="filterByNoOfBathrooms"
                      >
                        <i class="pgi-angle-narrow-up"></i>
                      </a>
                    </div>
                  </div>
                  <div id="filterByNoOfBathrooms" class="collapse">
                    <div class="filterbox-sc__body">
                      <ul class="filter-chklist list-unstyled mb-0">
                        <li *ngFor="let bathroom of this.bathRooms">
                          <input
                            class="chk-input"
                            type="radio"
                            name="noofbathrooms"
                            id="{{'pptchk-bath'+bathroom.uid.toString()}}"
                            [value]="bathroom.uid" [checked]="bathroom.isEnabled" 
                            (change)="onBathRoomCountSelectionChanged($event)"
                          />
                          <label class="chk-label" for="{{'pptchk-bath'+bathroom.uid.toString()}}">
                            <i class="chk-icn pgi-check-circle"></i>
                            {{bathroom.displayName}} Bathroom
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-12 col-lg-8 col-xxl-9 ps-xxl-4">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-2">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                <!-- Accommodations in <span class="text-primary">Oxford</span> -->
                Properties
              </li>
            </ol>
          </nav>
          <!-- <div class="sc__head mb-3">
            <h4 class="sc__ttl mb-0">
              1145 results | Accommodations in Oxford
            </h4>
          </div> -->
          <div class="row">
            <div *ngFor="let property of properties" class="col-12 col-md-6 col-xxl-4 mb-4">
              <app-property-card thumbNailPath="{{property.thumbNailImage?.image}}"
                [isNew]="property.isNew" [isStudentFriendly]="property.isStudentFriendly" 
                [bedRoomCount]="property.bedRoomCount" [bathRoomCount]="property.bathRoomCount" 
                price="{{property.price|currency:'':'' }}" title="{{property.title}}" location="{{property.location}}"
                landMark="{{property.landmark}}" [isPetFriendly]="property.isPetsAllowed" 
                [isParkingFriendly]="property.isParkingAvailable"
                listingDate="{{property.listingDate}}" availabeDate="{{property.availableDate}}">         
              </app-property-card>   
            </div>           
          </div>
          <div *ngIf="loading" class="loader">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              style="margin: auto; display: block"
              width="60px"
              height="60px"
              viewBox="0 0 100 100"
              preserveAspectRatio="xMidYMid"
            >
              <circle
                cx="50"
                cy="50"
                r="30"
                stroke="#1e1d40"
                stroke-width="10"
                fill="none"
              ></circle>
              <circle
                cx="50"
                cy="50"
                r="30"
                stroke="#d90d32"
                stroke-width="8"
                stroke-linecap="round"
                fill="none"
              >
                <animateTransform
                  attributeName="transform"
                  type="rotate"
                  repeatCount="indefinite"
                  dur="1s"
                  values="0 50 50;180 50 50;720 50 50"
                  keyTimes="0;0.5;1"
                ></animateTransform>
                <animate
                  attributeName="stroke-dasharray"
                  repeatCount="indefinite"
                  dur="1s"
                  values="18.84955592153876 169.64600329384882;94.2477796076938 94.24777960769377;18.84955592153876 169.64600329384882"
                  keyTimes="0;0.5;1"
                ></animate>
              </circle>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>