<section class="sc-hero" style="background-image: url(../../assets/images/hero-banner-bg.jpg)">
  <div class="sc-hero__content">
    <div class="container">
      <div class="sc-hero__head py-4 py-lg-5 text-center">
        <h1 class="sc-hero__ttl mb-3">
          Student Accommodation
          <span class="text-primary">UK</span>
        </h1>
        <h3 class="sc-hero__subttl">Simple Student Accommodations</h3>
      </div>
      <app-property-search></app-property-search>
    </div>
  </div>
</section>

<section class="sc-projects exclusive-featured pb-0">
  <div class="container">
    <div *ngIf="this.nearToUniProperties.length>0">
      <div  class="row align-items-end mb-3">
        <div class="col-8">
          <div class="sc__head">
            <h6 class="sc__ttlprefix mb-0">Nearby Accommodations</h6>
            <h2 class="sc__ttl mb-0">University Nearby</h2>
          </div>
        </div>
        <div class="col-4 text-end">
          <a routerLink="lists"  class="sc__head__link text-decoration-none d-inline-flex align-items-center">
            <span>See All</span>
            <i class="pgi-arrow-right ms-2 text-primary"></i>
          </a>
        </div>
      </div>
      <div id="nearbyAccommodations" class="exclusive-multiple property-slider mb-5">
        <div *ngFor="let property of this.nearToUniProperties" class="slide-item">
          <app-property-card thumbNailPath="{{property.thumbNailImage?.image}}"
            [isNew]="property.isNew" [isStudentFriendly]="property.isStudentFriendly" 
            [bedRoomCount]="property.bedRoomCount" [bathRoomCount]="property.bathRoomCount" 
            price="{{property.price|currency:'':'' }}" title="{{property.title}}" location="{{property.location}}"
            landMark="{{property.landmark}}" [isPetFriendly]="property.isPetsAllowed" 
            [isParkingFriendly]="property.isParkingAvailable"
            listingDate="{{property.listingDate}}" availabeDate="{{property.availableDate}}">         
          </app-property-card>  
          
        </div>
      </div>
    </div>
    <div *ngIf="this.recommendedProperties.length>0">
      <div  class="row align-items-end mb-3">
        <div class="col-8">
          <div class="sc__head">
            <h6 class="sc__ttlprefix mb-0">Reccomended Accommodations</h6>
            <h2 class="sc__ttl mb-0">Exclusive for you</h2>
          </div>
        </div>
        <div class="col-4 text-end">
          <a routerLink="lists"   class="sc__head__link text-decoration-none d-inline-flex align-items-center">
            <span>See All</span>
            <i class="pgi-arrow-right ms-2 text-primary"></i>
          </a>
        </div>
      </div>
      <div  id="reccomendedAccommodations" class="exclusive-multiple property-slider mb-5">
        <div *ngFor="let property of this.recommendedProperties"  class="slide-item">
          <app-property-card thumbNailPath="{{property.thumbNailImage?.image}}"
            [isNew]="property.isNew" [isStudentFriendly]="property.isStudentFriendly" 
            [bedRoomCount]="property.bedRoomCount" [bathRoomCount]="property.bathRoomCount" 
            price="{{property.price|currency:'':'' }}" title="{{property.title}}" location="{{property.location}}"
            landMark="{{property.landmark}}" [isPetFriendly]="property.isPetsAllowed" 
            [isParkingFriendly]="property.isParkingAvailable"
            listingDate="{{property.listingDate}}" availabeDate="{{property.availableDate}}">         
          </app-property-card> 
        </div>
      </div>
    </div>
    <div *ngIf="this.hotDealProperties.length>0">
      <div  class="row align-items-end mb-3">
        <div class="col-8">
          <div class="sc__head">
            <h6 class="sc__ttlprefix mb-0">Other Accommodations</h6>
            <h2 class="sc__ttl mb-0">Hot deals</h2>
          </div>
        </div>
        <div class="col-4 text-end">
          <a routerLink="lists"  class="sc__head__link text-decoration-none d-inline-flex align-items-center">
            <span>See All</span>
            <i class="pgi-arrow-right ms-2 text-primary"></i>
          </a>
        </div>
      </div>
      <div  id="otherAccommodations" class="exclusive-multiple property-slider mb-5">
        <div *ngFor="let property of this.hotDealProperties" class="slide-item">
          <app-property-card thumbNailPath="{{property.thumbNailImage?.image}}"
            [isNew]="property.isNew" [isStudentFriendly]="property.isStudentFriendly" 
            [bedRoomCount]="property.bedRoomCount" [bathRoomCount]="property.bathRoomCount" 
            price="{{property.price|currency:'':'' }}" title="{{property.title}}" location="{{property.location}}"
            landMark="{{property.landmark}}" [isPetFriendly]="property.isPetsAllowed" 
            [isParkingFriendly]="property.isParkingAvailable"
            listingDate="{{property.listingDate}}" availabeDate="{{property.availableDate}}">         
          </app-property-card> 
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sc-about pt-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="img-wrp mx-auto my-xl-4">
          <img src="../../assets/images/img-about2.jpg" alt="" class="img-fluid" />
          <div class="about-video d-none">
            <img src="../../assets/images/img-about-video.jpg" alt="" class="img-fluid" />
            <button class="btn p-2 rounded-circle about-video__btn">
              <i class="pgi-polygon-right text-white"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 mt-4 mt-lg-0">
        <h4 class="sc-about__subttl text-uppercase text-black-50">
          About
        </h4>
        <h2 class="sc-about__ttl text-black mb-lg-4">
          We know what a <span class="text-primary">home</span> is really
          worth
        </h2>
        <p class="lh-lg mb-lg-5">
          <span class="text-primary">SSA</span> dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
          labore et dolore magna aliquyam erat, sed diam voluptua. At vero
          eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
          gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
          amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
          sed diam nonumy eirmod tempor invidunt ut labore et.
        </p>
        <a href="" class="btn btn-primary rounded-1 d-inline-flex align-items-center sc-about__more">Read more <i
            class="pgi-arrow-right ms-3"></i></a>
      </div>
    </div>
  </div>
</section>