<section class="sc-hero" style="background-image: url(../../assets/images/hero-banner-bg.jpg)">
  <div class="sc-hero__content">
    <div class="container">
      <div class="sc-hero__head py-4 py-lg-5 text-center">
        <h1 class="sc-hero__ttl mb-3">
          Student Accommodation
          <span class="text-primary">UK</span>
        </h1>
        <h3 class="sc-hero__subttl">Simple Student Accommodations</h3>
      </div>
      <app-property-search></app-property-search>
    </div>
  </div>
</section>

<section class="sc-projects exclusive-featured pb-0">
  <div class="container">
    <div class="row align-items-end mb-3">
      <div class="col-8">
        <div class="sc__head">
          <h6 class="sc__ttlprefix mb-0">Nearby Accommodations</h6>
          <h2 class="sc__ttl mb-0">University Nearby</h2>
        </div>
      </div>
      <div class="col-4 text-end">
        <a href="" class="sc__head__link text-decoration-none d-inline-flex align-items-center">
          <span>See All</span>
          <i class="pgi-arrow-right ms-2 text-primary"></i>
        </a>
      </div>
    </div>
    <div id="nearbyAccommodations" class="exclusive-multiple property-slider mb-5">
      <div class="slide-item">
        <div class="pcard">
          <div class="pcard-image">
            <a href="">
              <img src="../../assets/images/project-img-01.jpg" alt="" class="img-fluid" />
            </a>
            <div class="pcard-image-top text-white d-flex align-items-center">
              <span class="pcard-badge new">new</span>
              <span class="pcard-badge bg-secondary">Student Friendly</span>
              <button class="btn p-0 btn-addfav ms-auto">
                <i class="pgi-heart-empty"></i>
              </button>
            </div>
            <div class="pcard-image-top fit-bottom pt-4 text-white d-flex align-items-end">
              <div class="pe-2 col">
                <span class="me-3">4<i class="pgi-bedroom ms-2"></i></span>
                <span class="me-3">2<i class="pgi-bath ms-2"></i></span>
              </div>
              <div>
                <span class="pcard__price text-primary">£2,850 pcm</span>
              </div>
            </div>
          </div>
          <div class="pcard-cnt">
            <h5 class="pcard__ttl mb-1">
              <a href="" class="text-decoration-none">4 bed terraced house to rent</a>
            </h5>
            <p class="pcard__subttl">Oxford Street, Middlesbrough TS1</p>
            <ul class="mb-3 fs-sm ps-4">
              <li class="pe-2">0.5 miles Middlesbrough</li>
              <li class="pe-2">Pet Friendly</li>
              <li class="pe-2">Parking Friendly</li>
            </ul>
            <p class="pcard__desc mb-0">
              Listed on 13th Dec 2022 <br />
              Available from 7th Jul 2023
            </p>
          </div>
          <div class="pcard-bottom">
            <div>
              <button class="btn btn-light" title="Call Now">
                <i class="pgi-phone"></i>
              </button>
              <button class="btn btn-light ms-1" title="Email">
                <i class="pgi-email"></i>
              </button>
            </div>
            <div class="btn-wrp">
              <a href="" class="btn btn-primary ms-1 my-1" title="Go to Details">View Detail</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="pcard">
          <div class="pcard-image">
            <a href="">
              <img src="../../assets/images/project-img-02.jpg" alt="" class="img-fluid" />
            </a>
            <div class="pcard-image-top text-white d-flex align-items-center">
              <span class="pcard-badge new">new</span>
              <span class="pcard-badge bg-secondary">Student Friendly</span>
              <button class="btn p-0 btn-addfav ms-auto">
                <i class="pgi-heart-empty"></i>
              </button>
            </div>
            <div class="pcard-image-top fit-bottom pt-4 text-white d-flex align-items-end">
              <div class="pe-2 col">
                <span class="me-3">2<i class="pgi-bedroom ms-2"></i></span>
                <span class="me-3">2<i class="pgi-bath ms-2"></i></span>
              </div>
              <div>
                <span class="pcard__price text-primary">£1,250 pcm</span>
              </div>
            </div>
          </div>
          <div class="pcard-cnt">
            <h5 class="pcard__ttl mb-1">
              <a href="" class="text-decoration-none">2 BHK house to rent</a>
            </h5>
            <p class="pcard__subttl">Oxford Street, Middlesbrough TS1</p>
            <ul class="mb-3 fs-sm ps-4">
              <li class="pe-2">0.5 miles Middlesbrough</li>
              <li class="pe-2">Pet Friendly</li>
              <li class="pe-2">Parking Friendly</li>
            </ul>
            <p class="pcard__desc mb-0">
              Listed on 13th Dec 2022 <br />
              Available from 7th Jul 2023
            </p>
          </div>
          <div class="pcard-bottom">
            <div>
              <button class="btn btn-light" title="Call Now">
                <i class="pgi-phone"></i>
              </button>
              <button class="btn btn-light ms-1" title="Email">
                <i class="pgi-email"></i>
              </button>
            </div>
            <div class="btn-wrp">
              <a href="" class="btn btn-primary ms-1 my-1" title="Go to Details">View Detail</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="pcard">
          <div class="pcard-image">
            <a href="">
              <img src="../../assets/images/project-img-03.jpg" alt="" class="img-fluid" />
            </a>
            <div class="pcard-image-top text-white d-flex align-items-center">
              <span class="pcard-badge bg-secondary">Student Friendly</span>
              <button class="btn p-0 btn-addfav ms-auto">
                <i class="pgi-heart-empty"></i>
              </button>
            </div>
            <div class="pcard-image-top fit-bottom pt-4 text-white d-flex align-items-end">
              <div class="pe-2 col">
                <span class="me-3">1<i class="pgi-bedroom ms-2"></i></span>
                <span class="me-3">1<i class="pgi-bath ms-2"></i></span>
              </div>
              <div>
                <span class="pcard__price text-primary">£1,550 pcm</span>
              </div>
            </div>
          </div>
          <div class="pcard-cnt">
            <h5 class="pcard__ttl mb-1">
              <a href="" class="text-decoration-none">1 BHK Appartmet to rent</a>
            </h5>
            <p class="pcard__subttl">Oxford Street, Middlesbrough TS1</p>
            <ul class="mb-3 fs-sm ps-4">
              <li class="pe-2">0.5 miles Middlesbrough</li>
              <li class="pe-2">Pet Friendly</li>
              <li class="pe-2">Parking Friendly</li>
            </ul>
            <p class="pcard__desc mb-0">
              Listed on 13th Dec 2022 <br />
              Available from 7th Jul 2023
            </p>
          </div>
          <div class="pcard-bottom">
            <div>
              <button class="btn btn-light" title="Call Now">
                <i class="pgi-phone"></i>
              </button>
              <button class="btn btn-light ms-1" title="Email">
                <i class="pgi-email"></i>
              </button>
            </div>
            <div class="btn-wrp">
              <a href="" class="btn btn-primary ms-1 my-1" title="Go to Details">View Detail</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="pcard">
          <div class="pcard-image">
            <a href="">
              <img src="../../assets/images/project-img-04.jpg" alt="" class="img-fluid" />
            </a>
            <div class="pcard-image-top text-white d-flex align-items-center">
              <span class="pcard-badge new">new</span>
              <button class="btn p-0 btn-addfav ms-auto">
                <i class="pgi-heart"></i>
              </button>
            </div>
            <div class="pcard-image-top fit-bottom pt-4 text-white d-flex align-items-end">
              <div class="pe-2 col">
                <span class="me-3">1<i class="pgi-bedroom ms-2"></i></span>
                <span class="me-3">1<i class="pgi-bath ms-2"></i></span>
              </div>
              <div>
                <span class="pcard__price text-primary">£2,950 pcm</span>
              </div>
            </div>
          </div>
          <div class="pcard-cnt">
            <h5 class="pcard__ttl mb-1 text-truncate">
              <a href="" class="text-decoration-none">The Orchard at West Park</a>
            </h5>
            <p class="pcard__subttl text-truncate">
              Edward Pease Way, West Park Garden Village, Darlington
            </p>
            <ul class="mb-3 fs-sm ps-4">
              <li class="pe-2">0.5 miles Middlesbrough</li>
              <li class="pe-2">Pet Friendly</li>
              <li class="pe-2">Parking Friendly</li>
            </ul>
            <p class="pcard__desc mb-0">
              Listed on 13th Dec 2022 <br />
              Available from 7th Jul 2023
            </p>
          </div>
          <div class="pcard-bottom">
            <div>
              <button class="btn btn-light" title="Call Now">
                <i class="pgi-phone"></i>
              </button>
              <button class="btn btn-light ms-1" title="Email">
                <i class="pgi-email"></i>
              </button>
            </div>
            <div class="btn-wrp">
              <a href="" class="btn btn-primary ms-1 my-1" title="Go to Details">View Detail</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="pcard">
          <div class="pcard-image">
            <a href="">
              <img src="../../assets/images/project-img-05.jpg" alt="" class="img-fluid" />
            </a>
            <div class="pcard-image-top text-white d-flex align-items-center">
              <span class="pcard-badge new">new</span>
              <span class="pcard-badge bg-secondary">Student Friendly</span>
              <button class="btn p-0 btn-addfav ms-auto">
                <i class="pgi-heart-empty"></i>
              </button>
            </div>
            <div class="pcard-image-top fit-bottom pt-4 text-white d-flex align-items-end">
              <div class="pe-2 col">
                <span class="me-3">4<i class="pgi-bedroom ms-2"></i></span>
                <span class="me-3">2<i class="pgi-bath ms-2"></i></span>
              </div>
              <div>
                <span class="pcard__price text-primary">£1,850 pcm</span>
              </div>
            </div>
          </div>
          <div class="pcard-cnt">
            <h5 class="pcard__ttl mb-1">
              <a href="" class="text-decoration-none">3 bed terraced house to rent</a>
            </h5>
            <p class="pcard__subttl">Oxford Street, Middlesbrough</p>
            <ul class="mb-3 fs-sm ps-4">
              <li class="pe-2">0.5 miles Middlesbrough</li>
              <li class="pe-2">Pet Friendly</li>
              <li class="pe-2">Parking Friendly</li>
            </ul>
            <p class="pcard__desc mb-0">
              Listed on 13th Dec 2022 <br />
              Available from 7th Jul 2023
            </p>
          </div>
          <div class="pcard-bottom">
            <div>
              <button class="btn btn-light" title="Call Now">
                <i class="pgi-phone"></i>
              </button>
              <button class="btn btn-light ms-1" title="Email">
                <i class="pgi-email"></i>
              </button>
            </div>
            <div class="btn-wrp">
              <a href="" class="btn btn-primary ms-1 my-1" title="Go to Details">View Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-end mb-3">
      <div class="col-8">
        <div class="sc__head">
          <h6 class="sc__ttlprefix mb-0">Reccomended Accommodations</h6>
          <h2 class="sc__ttl mb-0">Exclusive for you</h2>
        </div>
      </div>
      <div class="col-4 text-end">
        <a href="" class="sc__head__link text-decoration-none d-inline-flex align-items-center">
          <span>See All</span>
          <i class="pgi-arrow-right ms-2 text-primary"></i>
        </a>
      </div>
    </div>
    <div id="reccomendedAccommodations" class="exclusive-multiple property-slider mb-5">
      <div class="slide-item">
        <div class="pcard">
          <div class="pcard-image">
            <a href="">
              <img src="../../assets/images/project-img-01.jpg" alt="" class="img-fluid" />
            </a>
            <div class="pcard-image-top text-white d-flex align-items-center">
              <span class="pcard-badge new">new</span>
              <span class="pcard-badge bg-secondary">Student Friendly</span>
              <button class="btn p-0 btn-addfav ms-auto">
                <i class="pgi-heart-empty"></i>
              </button>
            </div>
            <div class="pcard-image-top fit-bottom pt-4 text-white d-flex align-items-end">
              <div class="pe-2 col">
                <span class="me-3">4<i class="pgi-bedroom ms-2"></i></span>
                <span class="me-3">2<i class="pgi-bath ms-2"></i></span>
              </div>
              <div>
                <span class="pcard__price text-primary">£2,850 pcm</span>
              </div>
            </div>
          </div>
          <div class="pcard-cnt">
            <h5 class="pcard__ttl mb-1">
              <a href="" class="text-decoration-none">4 bed terraced house to rent</a>
            </h5>
            <p class="pcard__subttl">Oxford Street, Middlesbrough TS1</p>
            <ul class="mb-3 fs-sm ps-4">
              <li class="pe-2">0.5 miles Middlesbrough</li>
              <li class="pe-2">Pet Friendly</li>
              <li class="pe-2">Parking Friendly</li>
            </ul>
            <p class="pcard__desc mb-0">
              Listed on 13th Dec 2022 <br />
              Available from 7th Jul 2023
            </p>
          </div>
          <div class="pcard-bottom">
            <div>
              <button class="btn btn-light" title="Call Now">
                <i class="pgi-phone"></i>
              </button>
              <button class="btn btn-light ms-1" title="Email">
                <i class="pgi-email"></i>
              </button>
            </div>
            <div class="btn-wrp">
              <a href="" class="btn btn-primary ms-1 my-1" title="Go to Details">View Detail</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="pcard">
          <div class="pcard-image">
            <a href="">
              <img src="../../assets/images/project-img-02.jpg" alt="" class="img-fluid" />
            </a>
            <div class="pcard-image-top text-white d-flex align-items-center">
              <span class="pcard-badge new">new</span>
              <span class="pcard-badge bg-secondary">Student Friendly</span>
              <button class="btn p-0 btn-addfav ms-auto">
                <i class="pgi-heart-empty"></i>
              </button>
            </div>
            <div class="pcard-image-top fit-bottom pt-4 text-white d-flex align-items-end">
              <div class="pe-2 col">
                <span class="me-3">2<i class="pgi-bedroom ms-2"></i></span>
                <span class="me-3">2<i class="pgi-bath ms-2"></i></span>
              </div>
              <div>
                <span class="pcard__price text-primary">£1,250 pcm</span>
              </div>
            </div>
          </div>
          <div class="pcard-cnt">
            <h5 class="pcard__ttl mb-1">
              <a href="" class="text-decoration-none">2 BHK house to rent</a>
            </h5>
            <p class="pcard__subttl">Oxford Street, Middlesbrough TS1</p>
            <ul class="mb-3 fs-sm ps-4">
              <li class="pe-2">0.5 miles Middlesbrough</li>
              <li class="pe-2">Pet Friendly</li>
              <li class="pe-2">Parking Friendly</li>
            </ul>
            <p class="pcard__desc mb-0">
              Listed on 13th Dec 2022 <br />
              Available from 7th Jul 2023
            </p>
          </div>
          <div class="pcard-bottom">
            <div>
              <button class="btn btn-light" title="Call Now">
                <i class="pgi-phone"></i>
              </button>
              <button class="btn btn-light ms-1" title="Email">
                <i class="pgi-email"></i>
              </button>
            </div>
            <div class="btn-wrp">
              <a href="" class="btn btn-primary ms-1 my-1" title="Go to Details">View Detail</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="pcard">
          <div class="pcard-image">
            <a href="">
              <img src="../../assets/images/project-img-03.jpg" alt="" class="img-fluid" />
            </a>
            <div class="pcard-image-top text-white d-flex align-items-center">
              <span class="pcard-badge bg-secondary">Student Friendly</span>
              <button class="btn p-0 btn-addfav ms-auto">
                <i class="pgi-heart-empty"></i>
              </button>
            </div>
            <div class="pcard-image-top fit-bottom pt-4 text-white d-flex align-items-end">
              <div class="pe-2 col">
                <span class="me-3">1<i class="pgi-bedroom ms-2"></i></span>
                <span class="me-3">1<i class="pgi-bath ms-2"></i></span>
              </div>
              <div>
                <span class="pcard__price text-primary">£1,550 pcm</span>
              </div>
            </div>
          </div>
          <div class="pcard-cnt">
            <h5 class="pcard__ttl mb-1">
              <a href="" class="text-decoration-none">1 BHK Appartmet to rent</a>
            </h5>
            <p class="pcard__subttl">Oxford Street, Middlesbrough TS1</p>
            <ul class="mb-3 fs-sm ps-4">
              <li class="pe-2">0.5 miles Middlesbrough</li>
              <li class="pe-2">Pet Friendly</li>
              <li class="pe-2">Parking Friendly</li>
            </ul>
            <p class="pcard__desc mb-0">
              Listed on 13th Dec 2022 <br />
              Available from 7th Jul 2023
            </p>
          </div>
          <div class="pcard-bottom">
            <div>
              <button class="btn btn-light" title="Call Now">
                <i class="pgi-phone"></i>
              </button>
              <button class="btn btn-light ms-1" title="Email">
                <i class="pgi-email"></i>
              </button>
            </div>
            <div class="btn-wrp">
              <a href="" class="btn btn-primary ms-1 my-1" title="Go to Details">View Detail</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="pcard">
          <div class="pcard-image">
            <a href="">
              <img src="../../assets/images/project-img-04.jpg" alt="" class="img-fluid" />
            </a>
            <div class="pcard-image-top text-white d-flex align-items-center">
              <span class="pcard-badge new">new</span>
              <button class="btn p-0 btn-addfav ms-auto">
                <i class="pgi-heart"></i>
              </button>
            </div>
            <div class="pcard-image-top fit-bottom pt-4 text-white d-flex align-items-end">
              <div class="pe-2 col">
                <span class="me-3">1<i class="pgi-bedroom ms-2"></i></span>
                <span class="me-3">3<i class="pgi-bath ms-2"></i></span>
              </div>
              <div>
                <span class="pcard__price text-primary">£2,950 pcm</span>
              </div>
            </div>
          </div>
          <div class="pcard-cnt">
            <h5 class="pcard__ttl mb-1 text-truncate">
              <a href="" class="text-decoration-none">The Orchard at West Park</a>
            </h5>
            <p class="pcard__subttl text-truncate">
              Edward Pease Way, West Park Garden Village, Darlington
            </p>
            <ul class="mb-3 fs-sm ps-4">
              <li class="pe-2">0.5 miles Middlesbrough</li>
              <li class="pe-2">Pet Friendly</li>
              <li class="pe-2">Parking Friendly</li>
            </ul>
            <p class="pcard__desc mb-0">
              Listed on 13th Dec 2022 <br />
              Available from 7th Jul 2023
            </p>
          </div>
          <div class="pcard-bottom">
            <div>
              <button class="btn btn-light" title="Call Now">
                <i class="pgi-phone"></i>
              </button>
              <button class="btn btn-light ms-1" title="Email">
                <i class="pgi-email"></i>
              </button>
            </div>
            <div class="btn-wrp">
              <a href="" class="btn btn-primary ms-1 my-1" title="Go to Details">View Detail</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="pcard">
          <div class="pcard-image">
            <a href="">
              <img src="../../assets/images/project-img-05.jpg" alt="" class="img-fluid" />
            </a>
            <div class="pcard-image-top text-white d-flex align-items-center">
              <span class="pcard-badge new">new</span>
              <span class="pcard-badge bg-secondary">Student Friendly</span>
              <button class="btn p-0 btn-addfav ms-auto">
                <i class="pgi-heart-empty"></i>
              </button>
            </div>
            <div class="pcard-image-top fit-bottom pt-4 text-white d-flex align-items-end">
              <div class="pe-2 col">
                <span class="me-3">4<i class="pgi-bedroom ms-2"></i></span>
                <span class="me-3">2<i class="pgi-bath ms-2"></i></span>
              </div>
              <div>
                <span class="pcard__price text-primary">£1,850 pcm</span>
              </div>
            </div>
          </div>
          <div class="pcard-cnt">
            <h5 class="pcard__ttl mb-1">
              <a href="" class="text-decoration-none">3 bed terraced house to rent</a>
            </h5>
            <p class="pcard__subttl">Oxford Street, Middlesbrough</p>
            <ul class="mb-3 fs-sm ps-4">
              <li class="pe-2">0.5 miles Middlesbrough</li>
              <li class="pe-2">Pet Friendly</li>
              <li class="pe-2">Parking Friendly</li>
            </ul>
            <p class="pcard__desc mb-0">
              Listed on 13th Dec 2022 <br />
              Available from 7th Jul 2023
            </p>
          </div>
          <div class="pcard-bottom">
            <div>
              <button class="btn btn-light" title="Call Now">
                <i class="pgi-phone"></i>
              </button>
              <button class="btn btn-light ms-1" title="Email">
                <i class="pgi-email"></i>
              </button>
            </div>
            <div class="btn-wrp">
              <a href="" class="btn btn-primary ms-1 my-1" title="Go to Details">View Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-end mb-3">
      <div class="col-8">
        <div class="sc__head">
          <h6 class="sc__ttlprefix mb-0">Other Accommodations</h6>
          <h2 class="sc__ttl mb-0">Hot deals</h2>
        </div>
      </div>
      <div class="col-4 text-end">
        <a href="" class="sc__head__link text-decoration-none d-inline-flex align-items-center">
          <span>See All</span>
          <i class="pgi-arrow-right ms-2 text-primary"></i>
        </a>
      </div>
    </div>
    <div id="otherAccommodations" class="exclusive-multiple property-slider mb-5">
      <div class="slide-item">
        <div class="pcard">
          <div class="pcard-image">
            <a href="">
              <img src="../../assets/images/project-img-01.jpg" alt="" class="img-fluid" />
            </a>
            <div class="pcard-image-top text-white d-flex align-items-center">
              <span class="pcard-badge new">new</span>
              <span class="pcard-badge bg-secondary">Student Friendly</span>
              <button class="btn p-0 btn-addfav ms-auto">
                <i class="pgi-heart-empty"></i>
              </button>
            </div>
            <div class="pcard-image-top fit-bottom pt-4 text-white d-flex align-items-end">
              <div class="pe-2 col">
                <span class="me-3">4<i class="pgi-bedroom ms-2"></i></span>
                <span class="me-3">2<i class="pgi-bath ms-2"></i></span>
              </div>
              <div>
                <span class="pcard__price text-primary">£2,850 pcm</span>
              </div>
            </div>
          </div>
          <div class="pcard-cnt">
            <h5 class="pcard__ttl mb-1">
              <a href="" class="text-decoration-none">4 bed terraced house to rent</a>
            </h5>
            <p class="pcard__subttl">Oxford Street, Middlesbrough TS1</p>
            <ul class="mb-3 fs-sm ps-4">
              <li class="pe-2">0.5 miles Middlesbrough</li>
              <li class="pe-2">Pet Friendly</li>
              <li class="pe-2">Parking Friendly</li>
            </ul>
            <p class="pcard__desc mb-0">
              Listed on 13th Dec 2022 <br />
              Available from 7th Jul 2023
            </p>
          </div>
          <div class="pcard-bottom">
            <div>
              <button class="btn btn-light" title="Call Now">
                <i class="pgi-phone"></i>
              </button>
              <button class="btn btn-light ms-1" title="Email">
                <i class="pgi-email"></i>
              </button>
            </div>
            <div class="btn-wrp">
              <a href="" class="btn btn-primary ms-1 my-1" title="Go to Details">View Detail</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="pcard">
          <div class="pcard-image">
            <a href="">
              <img src="../../assets/images/project-img-02.jpg" alt="" class="img-fluid" />
            </a>
            <div class="pcard-image-top text-white d-flex align-items-center">
              <span class="pcard-badge new">new</span>
              <span class="pcard-badge bg-secondary">Student Friendly</span>
              <button class="btn p-0 btn-addfav ms-auto">
                <i class="pgi-heart-empty"></i>
              </button>
            </div>
            <div class="pcard-image-top fit-bottom pt-4 text-white d-flex align-items-end">
              <div class="pe-2 col">
                <span class="me-3">2<i class="pgi-bedroom ms-2"></i></span>
                <span class="me-3">2<i class="pgi-bath ms-2"></i></span>
              </div>
              <div>
                <span class="pcard__price text-primary">£1,250 pcm</span>
              </div>
            </div>
          </div>
          <div class="pcard-cnt">
            <h5 class="pcard__ttl mb-1">
              <a href="" class="text-decoration-none">2 BHK house to rent</a>
            </h5>
            <p class="pcard__subttl">Oxford Street, Middlesbrough TS1</p>
            <ul class="mb-3 fs-sm ps-4">
              <li class="pe-2">0.5 miles Middlesbrough</li>
              <li class="pe-2">Pet Friendly</li>
              <li class="pe-2">Parking Friendly</li>
            </ul>
            <p class="pcard__desc mb-0">
              Listed on 13th Dec 2022 <br />
              Available from 7th Jul 2023
            </p>
          </div>
          <div class="pcard-bottom">
            <div>
              <button class="btn btn-light" title="Call Now">
                <i class="pgi-phone"></i>
              </button>
              <button class="btn btn-light ms-1" title="Email">
                <i class="pgi-email"></i>
              </button>
            </div>
            <div class="btn-wrp">
              <a href="" class="btn btn-primary ms-1 my-1" title="Go to Details">View Detail</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="pcard">
          <div class="pcard-image">
            <a href="">
              <img src="../../assets/images/project-img-03.jpg" alt="" class="img-fluid" />
            </a>
            <div class="pcard-image-top text-white d-flex align-items-center">
              <span class="pcard-badge bg-secondary">Student Friendly</span>
              <button class="btn p-0 btn-addfav ms-auto">
                <i class="pgi-heart-empty"></i>
              </button>
            </div>
            <div class="pcard-image-top fit-bottom pt-4 text-white d-flex align-items-end">
              <div class="pe-2 col">
                <span class="me-3">1<i class="pgi-bedroom ms-2"></i></span>
                <span class="me-3">1<i class="pgi-bath ms-2"></i></span>
              </div>
              <div>
                <span class="pcard__price text-primary">£1,550 pcm</span>
              </div>
            </div>
          </div>
          <div class="pcard-cnt">
            <h5 class="pcard__ttl mb-1">
              <a href="" class="text-decoration-none">1 BHK Appartmet to rent</a>
            </h5>
            <p class="pcard__subttl">Oxford Street, Middlesbrough TS1</p>
            <ul class="mb-3 fs-sm ps-4">
              <li class="pe-2">0.5 miles Middlesbrough</li>
              <li class="pe-2">Pet Friendly</li>
              <li class="pe-2">Parking Friendly</li>
            </ul>
            <p class="pcard__desc mb-0">
              Listed on 13th Dec 2022 <br />
              Available from 7th Jul 2023
            </p>
          </div>
          <div class="pcard-bottom">
            <div>
              <button class="btn btn-light" title="Call Now">
                <i class="pgi-phone"></i>
              </button>
              <button class="btn btn-light ms-1" title="Email">
                <i class="pgi-email"></i>
              </button>
            </div>
            <div class="btn-wrp">
              <a href="" class="btn btn-primary ms-1 my-1" title="Go to Details">View Detail</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="pcard">
          <div class="pcard-image">
            <a href="">
              <img src="../../assets/images/project-img-04.jpg" alt="" class="img-fluid" />
            </a>
            <div class="pcard-image-top text-white d-flex align-items-center">
              <span class="pcard-badge new">new</span>
              <button class="btn p-0 btn-addfav ms-auto">
                <i class="pgi-heart"></i>
              </button>
            </div>
            <div class="pcard-image-top fit-bottom pt-4 text-white d-flex align-items-end">
              <div class="pe-2 col">
                <span class="me-3">1<i class="pgi-bedroom ms-2"></i></span>
                <span class="me-3">3<i class="pgi-bath ms-2"></i></span>
              </div>
              <div>
                <span class="pcard__price text-primary">£2,950 pcm</span>
              </div>
            </div>
          </div>
          <div class="pcard-cnt">
            <h5 class="pcard__ttl mb-1 text-truncate">
              <a href="" class="text-decoration-none">The Orchard at West Park</a>
            </h5>
            <p class="pcard__subttl text-truncate">
              Edward Pease Way, West Park Garden Village, Darlington
            </p>
            <ul class="mb-3 fs-sm ps-4">
              <li class="pe-2">0.5 miles Middlesbrough</li>
              <li class="pe-2">Pet Friendly</li>
              <li class="pe-2">Parking Friendly</li>
            </ul>
            <p class="pcard__desc mb-0">
              Listed on 13th Dec 2022 <br />
              Available from 7th Jul 2023
            </p>
          </div>
          <div class="pcard-bottom">
            <div>
              <button class="btn btn-light" title="Call Now">
                <i class="pgi-phone"></i>
              </button>
              <button class="btn btn-light ms-1" title="Email">
                <i class="pgi-email"></i>
              </button>
            </div>
            <div class="btn-wrp">
              <a href="" class="btn btn-primary ms-1 my-1" title="Go to Details">View Detail</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="pcard">
          <div class="pcard-image">
            <a href="">
              <img src="../../assets/images/project-img-05.jpg" alt="" class="img-fluid" />
            </a>
            <div class="pcard-image-top text-white d-flex align-items-center">
              <span class="pcard-badge new">new</span>
              <span class="pcard-badge bg-secondary">Student Friendly</span>
              <button class="btn p-0 btn-addfav ms-auto">
                <i class="pgi-heart-empty"></i>
              </button>
            </div>
            <div class="pcard-image-top fit-bottom pt-4 text-white d-flex align-items-end">
              <div class="pe-2 col">
                <span class="me-3">4<i class="pgi-bedroom ms-2"></i></span>
                <span class="me-3">2<i class="pgi-bath ms-2"></i></span>
              </div>
              <div>
                <span class="pcard__price text-primary">£1,850 pcm</span>
              </div>
            </div>
          </div>
          <div class="pcard-cnt">
            <h5 class="pcard__ttl mb-1">
              <a href="" class="text-decoration-none">3 bed terraced house to rent</a>
            </h5>
            <p class="pcard__subttl">Oxford Street, Middlesbrough</p>
            <ul class="mb-3 fs-sm ps-4">
              <li class="pe-2">0.5 miles Middlesbrough</li>
              <li class="pe-2">Pet Friendly</li>
              <li class="pe-2">Parking Friendly</li>
            </ul>
            <p class="pcard__desc mb-0">
              Listed on 13th Dec 2022 <br />
              Available from 7th Jul 2023
            </p>
          </div>
          <div class="pcard-bottom">
            <div>
              <button class="btn btn-light" title="Call Now">
                <i class="pgi-phone"></i>
              </button>
              <button class="btn btn-light ms-1" title="Email">
                <i class="pgi-email"></i>
              </button>
            </div>
            <div class="btn-wrp">
              <a href="" class="btn btn-primary ms-1 my-1" title="Go to Details">View Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sc-about pt-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="img-wrp mx-auto my-xl-4">
          <img src="../../assets/images/img-about2.jpg" alt="" class="img-fluid" />
          <div class="about-video d-none">
            <img src="../../assets/images/img-about-video.jpg" alt="" class="img-fluid" />
            <button class="btn p-2 rounded-circle about-video__btn">
              <i class="pgi-polygon-right text-white"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 mt-4 mt-lg-0">
        <h4 class="sc-about__subttl text-uppercase text-black-50">
          About
        </h4>
        <h2 class="sc-about__ttl text-black mb-lg-4">
          We know what a <span class="text-primary">home</span> is really
          worth
        </h2>
        <p class="lh-lg mb-lg-5">
          <span class="text-primary">SSA</span> dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
          labore et dolore magna aliquyam erat, sed diam voluptua. At vero
          eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
          gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
          amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
          sed diam nonumy eirmod tempor invidunt ut labore et.
        </p>
        <a href="" class="btn btn-primary rounded-1 d-inline-flex align-items-center sc-about__more">Read more <i
            class="pgi-arrow-right ms-3"></i></a>
      </div>
    </div>
  </div>
</section>