<div class="container" id="notification">
    <div class="sc py-2">
      <section class="dbw shadow-none mb-3">
        <div class="dbw-hd row g-0 align-items-center mb-4">
          <div class="col">
            <h4 class="dbw-ttl text-dark mb-0 fw-semibold">
              Notifications
            </h4>
            <p class="dbw-subttl fs-sm mb-0">SSA Alerts</p>
          </div>
        </div>
        <div *ngIf="user" class="dbw-bd">
          <div class="db-alert alert" role="alert">
            <strong>Hi {{userName}}!</strong> Cheepest Accommodations are
            Available Near Northampton University
            <a href="" class="alert-link">Let's check</a>
          </div>
          <div class="db-alert alert" role="alert">
            <h5 class="alert-heading">
              Thank your for contacting
              <span class="text-primary">SSA</span>
            </h5>
            <p class="mb-0">
              Aww yeah, you successfully read this important alert message.
              This example text is going to run a bit longer so that you can
              see how spacing within an alert works with this kind of
              content.
            </p>
          </div>
          <div class="db-alert alert" role="alert">
            <strong>Hi {{userName}}!</strong> One Accomodation added near
            your University <a href="" class="alert-link">Check Now</a>
          </div>
          <div class="db-alert alert" role="alert">
            <strong>Hi {{userName}}!</strong> Welcome to SSA
          </div>
        </div>
      </section>
    </div>
  </div>
