<div class="container" id="contactus">
    <section class="sc sc-contact">
      <div class="row text-center">
        <div class="col-12 col-lg-4 mt-4 mt-lg-0">
          <div class="mb-3">
            <i class="pgi-location text-3x text-primary-light"></i>
          </div>
          <h4 class="mb-3">Corporate Office</h4>
          <p>
            7652 Washington Avenue, <br />
            Suite 315 Miami Beach, FL 33139
          </p>
        </div>
        <div class="col-12 col-lg-4 mt-4 mt-lg-0">
          <div class="mb-3">
            <i class="pgi-contact-phone text-3x text-primary-light"></i>
          </div>
          <h4 class="mb-3">Direct Contact</h4>
          <p class="mb-1 fs-sm">
            <span class="fw-medium">Phone:</span> 800 987 6543
          </p>
          <p class="mb-1 fs-sm">
            <span class="fw-medium">Email:</span>
            <a
              href="mailto:support@ssa.com"
              class="text-decoration-none text-dark"
              >support@ssa.com</a
            >
          </p>
          <p class="mb-1 fs-sm">
            <span class="fw-medium">Website:</span> www.ssa.com
          </p>
        </div>
        <div class="col-12 col-lg-4 mt-4 mt-lg-0">
          <div class="mb-3">
            <i class="pgi-schedule1 text-3x text-primary-light"></i>
          </div>
          <h4 class="mb-3">Business Hours</h4>
          <p class="mb-1 fs-sm">
            <span class="fw-medium">Sunday:</span> closed
          </p>
          <p class="mb-1 fs-sm">
            <span class="fw-medium">Monday - Friday:</span> 10AM - 8PM
          </p>
          <p class="mb-1 fs-sm">
            <span class="fw-medium">Saturday:</span> 10AM - 2PM
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 col-lg-7 col-xl-8">
          <div class="ratio contact-map" style="--bs-aspect-ratio: 50%">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3592.552830533764!2d-80.13411548461137!3d25.78532971391443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b48e782b755b%3A0x5918d1d531f2e815!2sWashington%20Ave%2C%20Miami%20Beach%2C%20FL%2033139%2C%20USA!5e0!3m2!1sen!2sin!4v1640851199904!5m2!1sen!2sin"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
        </div>
        <div class="col-12 col-lg-5 col-xl-4 mt-4 mt-lg-0">
          <div class="sc-from px-xl-2 px-xxl-5 contact-form">
            <div class="sc__head mb-4">
              <h3 class="sc__ttl mb-2">Write To Us</h3>
              <h6 class="sc__ttlprefix fs-sm mb-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </h6>
            </div>
            <form>
              <p class="text-muted fs-xs">
                <span class="text-primary">*</span> marked fields are
                mandatory
              </p>
              <ul class="list-unstyled pt-2 mb-0">
                <li class="mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name*"
                    value=""
                  />
                </li>
                <li class="mb-3">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email*"
                    value=""
                  />
                </li>
                <li class="mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Contact Number*"
                    value=""
                  />
                </li>
                <li class="mb-3">
                  <textarea
                    cols="30"
                    rows="3"
                    class="form-control"
                    placeholder="Message*"
                  ></textarea>
                </li>
                <li class="d-grid gap-2 mb-3">
                  <input
                    type="submit"
                    class="btn btn-primary"
                    value="Send Message"
                  />
                </li>
              </ul>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
