<div class="pdetail">
    <!-- Top Banner : -->
    <section class="pdetail-head">
      <div class="pdetail-head__cnt px-2 px-lg-0">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-12 col-lg-5">
              <h2 class="pdetail__ttl">{{property.description}}</h2>
              <p class="pdetail__location mb-0">
                <i class="pgi-location-on me-2"></i>
                {{property.location}}
              </p>
            </div>
            <div class="col-12 col-lg-4">
              <div class="row align-items-end mt-2">
                <div class="col-12">
                  <span
                    class="pdetail__price text-primary ps-3 ps-xxl-4 h4 mb-0"
                    ><span class="rupee">£</span> {{property.price}} pcm</span
                  >
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3 text-lg-end pt-2">
              <div class="row g-0 align-items-end">
                <!-- <div class="col">
                  <p class="pdetail__code mb-0">
                    Property Code: <strong>E57758552</strong>
                  </p>
                </div> -->
                <div class="col-auto ps-3">
                  <button
                    class="btn pdetail__shortlist"
                    title="Shortlist"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                  >
                    <i class="pgi-heart-empty"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Top Banner : / -->
    <div class="pdetail-hero py-4">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="photogallery">
              <div class="photogallery-mainview">
                <div id="pGalleryMain" class="photogallery-slider">
                  <div class="slide-item">
                    <a
                      href="../../../assets/images/pimg-detail-01-full.jpg"
                      title="Image 1 Title Here"
                    >
                      <img
                        src="../../../assets/images/pimg-detail-01.jpg"
                        alt=""
                        class="slide-img"
                      />
                    </a>
                  </div>
                  <div class="slide-item">
                    <a
                      href="../../../assets/images/pimg-detail-02-full.jpg"
                      title="Image 2 Title Here"
                    >
                      <img
                        src="../../../assets/images/pimg-detail-02.jpg"
                        alt=""
                        class="slide-img"
                      />
                    </a>
                  </div>
                  <div class="slide-item">
                    <a
                      href="../../../assets/images/pimg-detail-03-full.jpg"
                      title="Image 3 Title Here"
                    >
                      <img
                        src="../../../assets/images/pimg-detail-03.jpg"
                        alt=""
                        class="slide-img"
                      />
                    </a>
                  </div>
                  <div class="slide-item">
                    <a
                      href="../../../assets/images/pimg-detail-04-full.jpg"
                      title="Image 4 Title Here"
                    >
                      <img
                        src="../../../assets/images/pimg-detail-04.jpg"
                        alt=""
                        class="slide-img"
                      />
                    </a>
                  </div>
                </div>
                <div class="more-photos d-none">
                  <a
                    href="../../../assets/images/pimg-detail-05-full.jpg"
                    title="Image 5 Title Here"
                  ></a>
                  <a
                    href="../../../assets/images/pimg-detail-06-full.jpg"
                    title="Image 6 Title Here"
                  ></a>
                  <a
                    href="../../../assets/images/pimg-detail-07-full.jpg"
                    title="Image 7 Title Here"
                  ></a>
                  <a
                    href="../../../assets/images/pimg-detail-08-full.jpg"
                    title="Image 8 Title Here"
                  ></a>
                </div>
              </div>
              <div class="photogallery-pagerview">
                <div id="pGalleryPager" class="photogallery-pager">
                  <div class="slide-item">
                    <img
                      src="../../../assets/images/pimg-detail-01-sm.jpg"
                      alt=""
                      class="slide-img"
                    />
                  </div>
                  <div class="slide-item">
                    <img
                      src="../../../assets/images/pimg-detail-02-sm.jpg"
                      alt=""
                      class="slide-img"
                    />
                  </div>
                  <div class="slide-item">
                    <img
                      src="../../../assets/images/pimg-detail-03-sm.jpg"
                      alt=""
                      class="slide-img"
                    />
                  </div>
                  <div class="slide-item">
                    <img
                      src="../../../assets/images/pimg-detail-04-sm.jpg"
                      alt=""
                      class="slide-img"
                    />
                  </div>
                </div>
                <div class="more-photos">
                  <button id="pGalleryMore" class="btn">+4 photos</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 pt-3 pt-lg-0">
            <ul class="list-unstyled d-flex flex-wrap gap-2">
              <li *ngIf="property.isNew">
                <span class="badge text-primary border border-light"
                  >New</span
                >
              </li>
              <li *ngIf="property.isStudentFriendly">
                <span class="badge text-secondary border border-light"
                  >Student Friendly</span
                >
              </li>
              <li *ngIf="property.isParkingAvailable">
                <span class="badge text-secondary border border-light"
                  >Parking Friendly</span
                >
              </li>
              <!-- <li>
                <span class="badge text-secondary border border-light"
                  >Vegan</span
                >
              </li> -->
              <li *ngIf="property.isPetsAllowed">
                <span class="badge text-secondary border border-light"
                  >Pet Friendly</span
                >
              </li>
            </ul>
            <ul
              class="pdetail-highlights list-unstyled mb-3 d-flex flex-wrap"
            >
              <li class="col-6 col-md-6">
                <span class="icn-wrp">
                  <img src="../../../assets/icons/calendar.svg" alt="" />
                </span>
                <div class="cnt-wrp">
                  <span class="ttl__caption">Listed On</span>
                  <span class="ttl">{{property.listingDate}}</span>
                </div>
              </li>
              <li class="col-6 col-md-6">
                <span class="icn-wrp">
                  <img src="../../../assets/icons/key.svg" alt="" />
                </span>
                <div class="cnt-wrp">
                  <span class="ttl__caption">Available from</span>
                  <span class="ttl">{{property.availableDate}}</span>
                </div>
              </li>
              <li class="col-6 col-md-6">
                <span class="icn-wrp">
                  <img src="../../../assets/icons/bedroom.svg" alt="" />
                </span>
                <div class="cnt-wrp">
                  <span class="ttl__caption">No. of Bedrooms</span>
                  <span class="ttl">{{property.bedRoomCount}} Bedroom</span>
                </div>
              </li>
              <li class="col-6 col-md-6">
                <span class="icn-wrp">
                  <img src="../../../assets/icons/bathroom.svg" alt="" />
                </span>
                <div class="cnt-wrp">
                  <span class="ttl__caption">No. of Bathroom</span>
                  <span class="ttl">{{property.bathRoomCount}} Bathrooms</span>
                </div>
              </li>

              <li class="col-6 col-md-6">
                <span class="icn-wrp">
                  <img src="../../../assets/icons/balcony.svg" alt="" />
                </span>
                <div class="cnt-wrp">
                  <span class="ttl__caption">Balcony</span>
                  <span class="ttl">2</span>
                </div>
              </li>
              <li class="col-6 col-md-6">
                <span class="icn-wrp">
                  <img src="../../../assets/icons/building.svg" alt="" />
                </span>
                <div class="cnt-wrp">
                  <span class="ttl__caption">Accommodation Type</span>
                  <span class="ttl">House</span>
                </div>
              </li>
              <li class="col-6 col-md-6">
                <span class="icn-wrp">
                  <img src="../../../assets/icons/parking.svg" alt="" />
                </span>
                <div class="cnt-wrp">
                  <span class="ttl__caption">Parking</span>
                  <span class="ttl">{{property.availableParkingSlots}}</span>
                </div>
              </li>
              <li class="col-6 col-md-6">
                <span class="icn-wrp">
                  <img src="../../../assets/icons/power-backup.svg" alt="" />
                </span>
                <div class="cnt-wrp">
                  <span class="ttl__caption">Power Backup</span>
                  <span class="ttl">None</span>
                </div>
              </li>
              <li class="col-6 col-md-6">
                <span class="icn-wrp">
                  <img src="../../../assets/icons/bedroom.svg" alt="" />
                </span>
                <div class="cnt-wrp">
                  <span class="ttl__caption">Type of Furnishing</span>
                  <span class="ttl">{{property.furnishType}}</span>
                </div>
              </li>
              <li class="col-6 col-md-6">
                <span class="icn-wrp">
                  <img src="../../../assets/icons/calendar.svg" alt="" />
                </span>
                <div class="cnt-wrp">
                  <span class="ttl__caption">Tenancy Period</span>
                  <span class="ttl">6 Months</span>
                </div>
              </li>
            </ul>
            <div class="cta-btns row g-2">
              <div class="col-12 col-md-auto">
                <button
                  class="btn btn-primary w-100"
                  data-bs-toggle="modal"
                  data-bs-target="#scheduleVisitPopup"
                  title="Check Availability"
                >
                  <i class="pgi-schedule"></i>
                  <span>Check availability</span>
                </button>
              </div>
              <div class="col-6 col-md-auto mb-2 mb-md-0">
                <a
                  href="tel:01615243856"
                  class="btn btn-light text-body w-100"
                  title="Call Now">
                  <i class="pgi-contact-phone"></i>
                  0161 524 3856
                </a>
              </div>
              <div class="col-6 col-md-auto mb-2 mb-md-0">
                <a
                  href="mailto:enquire@ssa.com"
                  class="btn btn-light text-body w-100"
                  title="Email Now"
                >
                  <i class="pgi-email me-0"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pdetail-dtlwrap py-4">
      <div class="container">
        <div class="row pdetail-layout">
          <div class="col-12 col-xl-8">
            <section class="pdw" id="descriptionWidget">
              <div class="pdw-head">
                <h5 class="pdw__ttl mb-0">Description</h5>
              </div>
              <div class="pdw-body">
                <div class="pdetail__description">
                  <p>
                    New Bookings Open Now For 2023/24! <br />
                    Welcome to Rede House - student studio apartments in the
                    heart of Middlesbrough.
                  </p>
                  <p>
                    Located on Corporation Road, students at Rede House have
                    Middlesbrough on their doorstep. Teesside University is
                    less than a 10 minute walk from the building, and with
                    Middlesbrough Train Station around the corner, students
                    can travel up to Newcastle in just over an hour.
                  </p>
                  <p>
                    Rede House is home to 240 students each year, offering a
                    range of studios including our budget-friendly Single
                    Bed Studios, to our spacious deluxe apartments.
                  </p>
                  <p>
                    Bills Included | Free WiFi | Gym | Social Area | Cinema
                    Room
                  </p>
                  <p>
                    We offer 4 different types of studios, as well as a
                    number of 1 bedroom apartments - ideal for any budget!
                  </p>
                </div>
              </div>
            </section>

            <section class="pdw" id="amenitiesWidget">
              <div class="pdw-head">
                <h5 class="pdw__ttl mb-0">Amenities</h5>
              </div>
              <div class="pdw-body">
                <ul class="amenities-list list-unstyled mb-0 row">
                  <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="al-item">
                      <i class="pgi-check-circle"></i>
                      <span>Air Condition</span>
                    </div>
                  </li>
                  <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="al-item">
                      <i class="pgi-check-circle"></i>
                      <span>Balcony</span>
                    </div>
                  </li>
                  <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="al-item">
                      <i class="pgi-check-circle"></i>
                      <span>Internet</span>
                    </div>
                  </li>
                  <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="al-item">
                      <i class="pgi-check-circle"></i>
                      <span>Dishwasher</span>
                    </div>
                  </li>
                  <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="al-item">
                      <i class="pgi-check-circle"></i>
                      <span>Cable TV</span>
                    </div>
                  </li>
                  <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="al-item">
                      <i class="pgi-check-circle"></i>
                      <span>Bedding</span>
                    </div>
                  </li>
                  <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="al-item">
                      <i class="pgi-check-circle"></i>
                      <span>Parking</span>
                    </div>
                  </li>
                  <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="al-item">
                      <i class="pgi-check-circle"></i>
                      <span>Fridge</span>
                    </div>
                  </li>
                  <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="al-item">
                      <i class="pgi-check-circle"></i>
                      <span>Pool</span>
                    </div>
                  </li>
                  <li class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="al-item">
                      <i class="pgi-check-circle"></i>
                      <span>Water Storage</span>
                    </div>
                  </li>
                </ul>
              </div>
            </section>

            <section class="pdw" id="builderInfoWidget">
              <div class="pdw-head">
                <h5 class="pdw__ttl mb-0">Renter Info</h5>
              </div>
              <div class="pdw-body fs-sm">
                <div class="row">
                  <div
                    class="img-wrp col-12 col-lg-3 col-xxl-2 text-center mb-3 mb-lg-0"
                  >
                    <img
                      src="../../../assets/images/builder-img-01.jpg"
                      alt=""
                      class="rounded img-fluid mx-auto"
                    />
                  </div>
                  <div class="cnt-wrp col-12 col-lg-9 col-xxl-10 pe-2">
                    <h5>Bainbridge Builders INC.</h5>
                    <p>
                      Lorem ipsum dolor, sit amet consectetur adipisicing
                      elit. Sed, debitis. Praesentium eius nemo, pariatur,
                      autem exercitationem ut blanditiis minima sit sunt
                      numquam odit laboriosam inventore?
                    </p>
                    <p>
                      <strong>Address:</strong> Oxford Street, Middlesbrough
                      TS1, UK
                    </p>
                    <p>Accommodation Listed: 5</p>
                  </div>
                </div>
              </div>
            </section>

            <section class="pdw" id="locationWidget">
              <div class="pdw-head">
                <h5 class="pdw__ttl mb-0">Location</h5>
              </div>
              <div class="pdw-body">
                <h6 class="mb-3">
                  <span class="d-block mb-2 text-dark"
                    >2 BHK house to rent</span
                  >
                  <i class="pgi-location-on me-1"></i>
                  <small>Oxford Street, Middlesbrough TS1</small>
                </h6>
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <div class="ratio ratio-16x9">
                      <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2313.1683615457946!2d-1.2464989839883585!3d54.565784390371704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487eed18c10c22c3%3A0xd8bf163be8573af2!2sOxford%20St%2C%20Middlesbrough%20TS1%2C%20UK!5e0!3m2!1sen!2sin!4v1672080027793!5m2!1sen!2sin"
                        width="400"
                        height="300"
                        style="border: 0"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                      ></iframe>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <h6 class="mb-3">Nearby Attractions:</h6>
                    <ul class="fs-sm list-unstyled">
                      <li class="mb-2">
                        <i class="pgi-train text-info me-1"></i>
                        <span>Middlesbrough Station 0.2 miles</span>
                      </li>
                      <li class="mb-2">
                        <i class="pgi-train text-info me-1"></i>
                        <span>South Bank Station 2.5 miles</span>
                      </li>
                      <li class="mb-2">
                        <i class="pgi-school text-info me-1"></i>
                        <span>Abingdon Primary School 0.4 miles</span>
                      </li>
                      <li class="mb-2">
                        <i class="pgi-school text-info me-1"></i>
                        <span>Newport Primary School 0.4 miles</span>
                      </li>
                      <li class="mb-2">
                        <i class="pgi-pick-location text-info me-1"></i>
                        <span>Middlesbrough 0.4 miles</span>
                      </li>
                      <li class="mb-2">
                        <i class="pgi-pick-location text-info me-1"></i>
                        <span>Transporter Bridge South Side 0.7 miles</span>
                      </li>
                    </ul>
                    <small class="fs-xs text-muted"
                      >These distances are calculated in a straight line.
                      The actual route and distance may vary.
                    </small>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="col-12 col-xl-4">
            <aside class="pdetail-sidebar">
              <section class="pdw pdw-bg-transparent w-similar">
                <div class="pdw-body pt-2">
                  <div class="sc__head mb-4">
                    <h5 class="sc__ttl mb-1">Similar Accommodations</h5>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-6 col-xl-12">
                      <div class="card mb-3">
                        <div class="row g-0">
                          <div class="col-4">
                            <a
                              href=""
                              class="img-wrp ratio ratio-16x9 d-block text-decoration-none"
                              data-bs-toggle="tooltip"
                              title="4 bed terraced house to rent"
                            >
                              <img
                                src="../../../assets/images/project-img-01.jpg"
                                class="img-fluid rounded-start"
                                alt="..."
                              />
                            </a>
                          </div>
                          <div class="col-8">
                            <div class="card-body">
                              <h5
                                class="card-title fw-semibold text-dark mb-0 mb-xxl-1 text-truncate"
                              >
                                <a
                                  href=""
                                  data-bs-toggle="tooltip"
                                  title="4 bed terraced house to rent"
                                  >4 bed terraced house to rent</a
                                >
                              </h5>
                              <p
                                class="card-text text-truncate mb-1 mb-xxl-2"
                              >
                                <small
                                  >Oxford Street, Middlesbrough TS1</small
                                >
                              </p>
                              <p class="mb-0">
                                <small class="text-primary"
                                  ><span class="rupee">£</span>2,850 pcm
                                  L</small
                                >
                                <span class="px-2">|</span>
                                <small>1420 Sq.Ft</small>
                              </p>
                              <span class="text-muted fs-xs"
                                >Posted on 30th Aug, 2021</span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-12">
                      <div class="card mb-3">
                        <div class="row g-0">
                          <div class="col-4">
                            <a
                              href=""
                              class="img-wrp ratio ratio-16x9 d-block text-decoration-none"
                              data-bs-toggle="tooltip"
                              title="4 bed terraced house to rent"
                            >
                              <img
                                src="../../../assets/images/project-img-03.jpg"
                                class="img-fluid rounded-start"
                                alt="..."
                              />
                            </a>
                          </div>
                          <div class="col-8">
                            <div class="card-body">
                              <h5
                                class="card-title fw-semibold text-dark mb-0 mb-xxl-1 text-truncate"
                              >
                                <a
                                  href=""
                                  data-bs-toggle="tooltip"
                                  title="4 bed terraced house to rent"
                                  >4 bed terraced house to rent</a
                                >
                              </h5>
                              <p
                                class="card-text text-truncate mb-1 mb-xxl-2"
                              >
                                <small
                                  >Oxford Street, Middlesbrough TS1</small
                                >
                              </p>
                              <p class="mb-0">
                                <small class="text-primary"
                                  ><span class="rupee">£</span>2,850 pcm
                                  L</small
                                >
                                <span class="px-2">|</span>
                                <small>1420 Sq.Ft</small>
                              </p>
                              <span class="text-muted fs-xs"
                                >Posted on 30th Aug, 2021</span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-12">
                      <div class="card mb-3">
                        <div class="row g-0">
                          <div class="col-4">
                            <a
                              href=""
                              class="img-wrp ratio ratio-16x9 d-block text-decoration-none"
                              data-bs-toggle="tooltip"
                              title="4 bed terraced house to rent"
                            >
                              <img
                                src="../../../assets/images/project-img-05.jpg"
                                class="img-fluid rounded-start"
                                alt="..."
                              />
                            </a>
                          </div>
                          <div class="col-8">
                            <div class="card-body">
                              <h5
                                class="card-title fw-semibold text-dark mb-0 mb-xxl-1 text-truncate"
                              >
                                <a
                                  href=""
                                  data-bs-toggle="tooltip"
                                  title="4 bed terraced house to rent"
                                  >4 bed terraced house to rent</a
                                >
                              </h5>
                              <p
                                class="card-text text-truncate mb-1 mb-xxl-2"
                              >
                                <small
                                  >Oxford Street, Middlesbrough TS1</small
                                >
                              </p>
                              <p class="mb-0">
                                <small class="text-primary"
                                  ><span class="rupee">£</span>2,850 pcm
                                  L</small
                                >
                                <span class="px-2">|</span>
                                <small>1420 Sq.Ft</small>
                              </p>
                              <span class="text-muted fs-xs"
                                >Posted on 30th Aug, 2021</span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-12">
                      <div class="card mb-3">
                        <div class="row g-0">
                          <div class="col-4">
                            <a
                              href=""
                              class="img-wrp ratio ratio-16x9 d-block text-decoration-none"
                              data-bs-toggle="tooltip"
                              title="4 bed terraced house to rent"
                            >
                              <img
                                src="../../../assets/images/project-img-04.jpg"
                                class="img-fluid rounded-start"
                                alt="..."
                              />
                            </a>
                          </div>
                          <div class="col-8">
                            <div class="card-body">
                              <h5
                                class="card-title fw-semibold text-dark mb-0 mb-xxl-1 text-truncate"
                              >
                                <a
                                  href=""
                                  data-bs-toggle="tooltip"
                                  title="4 bed terraced house to rent"
                                  >4 bed terraced house to rent</a
                                >
                              </h5>
                              <p
                                class="card-text text-truncate mb-1 mb-xxl-2"
                              >
                                <small
                                  >Oxford Street, Middlesbrough TS1</small
                                >
                              </p>
                              <p class="mb-0">
                                <small class="text-primary"
                                  ><span class="rupee">£</span>2,850 pcm
                                  L</small
                                >
                                <span class="px-2">|</span>
                                <small>1420 Sq.Ft</small>
                              </p>
                              <span class="text-muted fs-xs"
                                >Posted on 30th Aug, 2021</span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="pdw w-popuplar-searches">
                <div class="pdw-body">
                  <div class="sc__head mb-4">
                    <h5 class="sc__ttl mb-1">Popular Searches</h5>
                  </div>
                  <ul class="search-list list-unstyled mb-0 fs-sm">
                    <li><a href="">2 BHK in Chennai</a></li>
                    <li><a href="">Appartments</a></li>
                    <li><a href="">Car Parking</a></li>
                    <li><a href="">Plot for sale in Chennai</a></li>
                    <li><a href="">Pool Villas</a></li>
                    <li><a href="">3 BHK near Chennai</a></li>
                    <li><a href="">Marina Beach properties</a></li>
                    <li><a href="">Family</a></li>
                    <li><a href="">Cyber Park</a></li>
                    <li><a href="">Private pool</a></li>
                    <li><a href="">Car Parking</a></li>
                    <li><a href="">Plot for sale in Chennai</a></li>
                  </ul>
                </div>
              </section>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>
