<div class="dropdown user-dropdown">
  <button class="btn p-0 dropdown-toggle no-defaulteffcts" type="button" id="userDropdown" data-bs-toggle="dropdown"
    aria-expanded="false">
    <i class="pgi-user login-i"></i>
    <small>{{UserName}}</small>
  </button>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
    <li>
      <h6 class="dropdown-header">{{UserName}}</h6>
    </li>
    <li>
      <a class="dropdown-item clickable" href="#">Profile</a>
    </li>
    <li>
      <a class="dropdown-item clickable" href="#">Recently Viewed</a>
    </li>
    <li>
      <a class="dropdown-item clickable" href="#">Shortlisted</a>
    </li>
    <li>
      <hr class="dropdown-divider" />
    </li>
    <li><a class="dropdown-item clickable" (click)="onLogOut()">Logout</a></li>
  </ul>
</div>