<div class="pg-search mx-auto">
    <div class="pg-search__body">
        <form>
            <div class="row g-0 align-items-center">
                <div class="col-12 col-lg-10">
                    <div class="row g-0 search-area">
                        <div class="col-12 col-lg-9">
                            <div class="search-field-wrp">
                                <i class="pgi-search search-icn"></i>
                                <input type="text" class="form-control search-input"
                                    placeholder="Enter university, location, landmark..." 
                                    [(ngModel)]="propertyFilter.location"
                                    [ngModelOptions]="{standalone:true}"/>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="d-grid py-3 p-lg-0">
                                <button type="submit" class="btn btn-primary search-submit" (click)="onSubmit()">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-2 text-center ps-0">
                    <button class="btn text-white mt-2 mt-lg-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#moreFilters" aria-expanded="false" aria-controls="moreFilters">
                        <i class="pgi-filter"></i>
                        <span>Filters</span>
                    </button>
                </div>
                <div class="more-filters">
                    <div class="collapse" id="moreFilters">
                        <div class="row p-3 px-lg-4">
                            <div class="col-12 col-lg-6 mb-3">
                                <label class="form-label fw-semibold fs-sm">Type of House</label>
                                <ul class="chklist btn-chklist list-unstyled mb-0 align-items-center">
                                    <li *ngFor="let propertyType of this.propertyTypes" class="chk-item">
                                        <input type="radio" name="pptavailability" [value]="propertyType.uid"
                                        [checked]="propertyType.isEnabled"  id="{{'pphtchk'+propertyType.uid.toString()}}"
                                        (change)="onPropertyTypeSelectionChanged($event)"/>
                                        <label for="{{'pphtchk'+propertyType.uid.toString()}}">{{propertyType.displayName}}</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-lg-6 mb-3">
                                <label class="form-label fw-semibold fs-sm">Type of Furnishing</label>
                                <ul class="chklist btn-chklist list-unstyled mb-0 align-items-center">
                                    <li *ngFor="let furnishtype of this.furnishTypes" class="chk-item">
                                        <input type="radio" name="pptsalestype" [value]="furnishtype.uid"
                                        [checked]="furnishtype.isEnabled" (change)="onFurnishTypeSelectionChanged($event)"
                                        id="{{'pptchk'+furnishtype.uid.toString()}}"/>
                                        <label for="{{'pptchk'+furnishtype.uid.toString()}}">{{furnishtype.displayName}}</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-lg-6 mb-3">
                                <label class="form-label fw-semibold fs-sm">No.of Bedrooms</label>
                                <ul class="chklist btn-chklist list-unstyled mb-0 align-items-center">
                                    <li *ngFor="let bedroom of this.bedRooms" class="chk-item">
                                        <input type="radio" name="pptbedrooms" id="{{'pptchk-bed'+bedroom.uid.toString()}}" 
                                        [value]="bedroom.uid" [checked]="bedroom.isEnabled"
                                        (change)="onBedRoomCountSelectionChanged($event)"/>
                                        <label for="{{'pptchk-bed'+bedroom.uid.toString()}}">{{bedroom.displayName}}</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-lg-6 mb-3">
                                <label class="form-label fw-semibold fs-sm">No.of Bathrooms</label>
                                <ul class="chklist btn-chklist list-unstyled mb-0 align-items-center">
                                    <li *ngFor="let bathroom of this.bathRooms" class="chk-item">
                                        <input type="radio" name="pptbathrooms" id="{{'pptchk-bath'+bathroom.uid.toString()}}"
                                        [value]="bathroom.uid" [checked]="bathroom.isEnabled" (change)="onBathRoomCountSelectionChanged($event)"/>
                                        <label for="{{'pptchk-bath'+bathroom.uid.toString()}}">{{bathroom.uid}}</label>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-12 col-lg-6 mb-3">
                                <label for="priceRangeSlider" class="form-label fs-sm fw-medium text-dark">Select Price
                                    Range</label>
                                <input type="text" id="priceRangeSlider" class="range-slider" name="price_range"
                                    [(ngModel)]="priceRange" [ngModelOptions]="{standalone:true}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
