<div class="pg-search mx-auto">
    <div class="pg-search__body">
        <form>
            <div class="row g-0 align-items-center">
                <div class="col-12 col-lg-10">
                    <div class="row g-0 search-area">
                        <div class="col-12 col-lg-9">
                            <div class="search-field-wrp">
                                <i class="pgi-search search-icn"></i>
                                <input type="text" class="form-control search-input"
                                    placeholder="Enter university, location, landmark..." />
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="d-grid py-3 p-lg-0">
                                <button type="submit" class="btn btn-primary search-submit">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-2 text-center ps-0">
                    <button class="btn text-white mt-2 mt-lg-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#moreFilters" aria-expanded="false" aria-controls="moreFilters">
                        <i class="pgi-filter"></i>
                        <span>Filters</span>
                    </button>
                </div>
                <div class="more-filters">
                    <div class="collapse" id="moreFilters">
                        <div class="row p-3 px-lg-4">
                            <div class="col-12 col-lg-6 mb-3">
                                <label class="form-label fw-semibold fs-sm">Type of House</label>
                                <ul class="chklist btn-chklist list-unstyled mb-0 align-items-center">
                                    <li class="chk-item">
                                        <input type="radio" name="pptavailability" id="pptchk-flat" />
                                        <label for="pptchk-flat">Flat</label>
                                    </li>
                                    <li class="chk-item">
                                        <input type="radio" name="pptavailability" id="pptchk-house" />
                                        <label for="pptchk-house">House</label>
                                    </li>
                                    <li class="chk-item">
                                        <input type="radio" name="pptavailability" id="pptchk-hostel" />
                                        <label for="pptchk-hostel">Hostel</label>
                                    </li>
                                    <li class="chk-item">
                                        <input type="radio" name="pptavailability" id="pptchk-pg" />
                                        <label for="pptchk-pg">Paying Guest</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-lg-6 mb-3">
                                <label class="form-label fw-semibold fs-sm">Type of Furnishing</label>
                                <ul class="chklist btn-chklist list-unstyled mb-0 align-items-center">
                                    <li class="chk-item">
                                        <input type="radio" name="pptsalestype" id="pptchk-full" />
                                        <label for="pptchk-full">Full</label>
                                    </li>
                                    <li class="chk-item">
                                        <input type="radio" name="pptsalestype" id="pptchk-semi" />
                                        <label for="pptchk-semi">Semi</label>
                                    </li>
                                    <li class="chk-item">
                                        <input type="radio" name="pptsalestype" id="pptchk-nonfurnished" />
                                        <label for="pptchk-nonfurnished">Non furnished</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-lg-6 mb-3">
                                <label class="form-label fw-semibold fs-sm">No.of Bedrooms</label>
                                <ul class="chklist btn-chklist list-unstyled mb-0 align-items-center">
                                    <li class="chk-item">
                                        <input type="radio" name="pptbedrooms" id="pptchk-bed1" checked="" />
                                        <label for="pptchk-bed1">1</label>
                                    </li>
                                    <li class="chk-item">
                                        <input type="radio" name="pptbedrooms" id="pptchk-bed2" />
                                        <label for="pptchk-bed2">2</label>
                                    </li>
                                    <li class="chk-item">
                                        <input type="radio" name="pptbedrooms" id="pptchk-bed3" />
                                        <label for="pptchk-bed3">3</label>
                                    </li>
                                    <li class="chk-item">
                                        <input type="radio" name="pptbedrooms" id="pptchk-bed4" />
                                        <label for="pptchk-bed4">4</label>
                                    </li>
                                    <li class="chk-item">
                                        <input type="radio" name="pptbedrooms" id="pptchk-bed5" />
                                        <label for="pptchk-bed5">5</label>
                                    </li>
                                    <li class="chk-item">
                                        <input type="radio" name="pptbedrooms" id="pptchk-bed5plus" />
                                        <label for="pptchk-bed5plus">5+</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-lg-6 mb-3">
                                <label class="form-label fw-semibold fs-sm">No.of Bathrooms</label>
                                <ul class="chklist btn-chklist list-unstyled mb-0 align-items-center">
                                    <li class="chk-item">
                                        <input type="radio" name="pptbathrooms" id="pptchk-bath1" checked="" />
                                        <label for="pptchk-bath1">1</label>
                                    </li>
                                    <li class="chk-item">
                                        <input type="radio" name="pptbathrooms" id="pptchk-bath2" />
                                        <label for="pptchk-bath2">2</label>
                                    </li>
                                    <li class="chk-item">
                                        <input type="radio" name="pptbathrooms" id="pptchk-bath3" />
                                        <label for="pptchk-bath3">3</label>
                                    </li>
                                    <li class="chk-item">
                                        <input type="radio" name="pptbathrooms" id="pptchk-bath4" />
                                        <label for="pptchk-bath4">4</label>
                                    </li>
                                    <li class="chk-item">
                                        <input type="radio" name="pptbathrooms" id="pptchk-bath5" />
                                        <label for="pptchk-bath5">5</label>
                                    </li>
                                    <li class="chk-item">
                                        <input type="radio" name="pptbedrooms" id="pptchk-bath5plus" />
                                        <label for="pptchk-bath5plus">5+</label>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-12 col-lg-6 mb-3">
                                <label for="priceRangeSlider" class="form-label fs-sm fw-medium text-dark">Select Price
                                    Range</label>
                                <input type="text" id="priceRangeSlider" class="range-slider" name="price_range"
                                    value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
