<div class="choose-location">
    <button
      class="location-selector btn p-0 border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#locationPopup"
      aria-expanded="false"
      aria-controls="locationPopup">
      <span class="inner btn">
        <i class="pgi-location-on ic-bf me-2"></i>
        <span>Oxford</span>
        <i class="pgi-angle-narrow-down ic-af ms-2"></i>
      </span>
    </button>
    <!-- Choose location popup -->
    <div id="locationPopup" class="location-popup collapse">
      <h4 class="ttl">Explore Accommodations in...</h4>
      <div
        class="d-flex justify-content-between align-items-center mb-2"
      >
        <div class="col-12 col-md-5 col-lg-4">
          <h6 class="sc-ttl">Popular Cities</h6>
        </div>
        <div class="col-12 col-md-5 col-lg-4 mb-3">
          <input
            type="search"
            class="form-control search-input"
            placeholder="Search cities..."
          />
        </div>
      </div>
      <ul class="location-list list-unstyled row">
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">All UK</a>
        </li>
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">London</a>
        </li>
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">Bristol</a>
        </li>
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">Liverpool</a>
        </li>
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">Manchester</a>
        </li>
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">Birmingham</a>
        </li>
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">Edinburgh</a>
        </li>
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">Leeds</a>
        </li>
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">Oxford</a>
        </li>
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">Cambridge</a>
        </li>
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">Coventry</a>
        </li>
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">Derby</a>
        </li>
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">Leicester</a>
        </li>
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">Norwich</a>
        </li>
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">Peterborough</a>
        </li>
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">Plymouth</a>
        </li>
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">Portsmouth</a>
        </li>
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">Sheffield</a>
        </li>
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">Southampton</a>
        </li>
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">Wells</a>
        </li>
        <li class="col-6 col-md-4 col-lg-3 col-xl-2">
          <a href="">York</a>
        </li>
      </ul>
    </div>
  </div>
